# Switch between 'sqlite' and 'neon'
VITE_DB_MODE=

# Only needed when VITE_DB_MODE=neon
VITE_DATABASE_URL=

# App
VITE_APP_NAME=

VITE_GMAIL_CLIENT_ID=your_gmail_client_id
VITE_GMAIL_CLIENT_SECRET=your_gmail_client_secret
VITE_GMAIL_REDIRECT_URI=http://localhost:3001/auth/gmail/callback
VITE_ANTHROPIC_API_KEY=your_anthropic_api_key_here